//content-center
flex-row()
    display: flex
    justify-content: center
    align-items: center

flex-column()
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

$bg 
    background: #bd2c8c


$primary-color = #43971c

// Definice proměnných barvy
$main-bg-color = #271551
$secondary-bg-color = #140b29 
$main-font-color = #fde0b0
$secondary-font-color = #705df2
$info-color = #688E26
$detail-color = #F97B4D
$additional-color = #FBBB4B

// Definice proměnných fonty
$font-family = 'Roboto Condensed', sans-serif

// Definice proměnných pro tloušťku písma
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 700


$color = #223344
$banner = #4e0d35
$price-color = #705df2